<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Comments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul class="list-group" *ngFor="let comment of comments;">
            <div class="list-group-item px-0">
                <div class="d-flex flex-direction-row ">
                    <img src="{{comment.author?.photoURL}}">
                    <div class="px-2 text-wrap">
                        <p class="text-dark mb-0">{{comment.author?.username}}</p>
                        <p class="mb-0 text-muted">{{comment.commentText}}</p>
                    </div>
                </div>
            </div>
          </ul>

    </div>
    <div class="modal-footer">
    <textarea #comment class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="button" class="btn btn-primary" (click)="submitComment(comment.value)">Comment</button>
    </div>
  </ng-template>


  <button class="comment" (click)="open(content)"><span class="iconify" data-icon="fa-regular:comment-alt" data-inline="false"></span></button>
