<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Comments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <div class="list-group-item">
                <div class="d-flex flex-direction-row">
                    <img src="https://www.jamiemaison.com/creating-a-simple-text-editor/placeholder.png">
                    <div class="px-2">
                        <p class="text-primary"><b>@peefartpoohead</b></p>
                        <p class="px-2 m-0">asdf</p>
                    </div>                    
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex flex-direction-row">
                    <img src="https://www.jamiemaison.com/creating-a-simple-text-editor/placeholder.png">
                    <div class="px-2">
                        <p class="text-primary"><b>@peefartpoohead</b></p>
                        <p class="px-2 m-0">asdf</p>
                    </div>                    
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex flex-direction-row">
                    <img src="https://www.jamiemaison.com/creating-a-simple-text-editor/placeholder.png">
                    <div class="px-2">
                        <p class="text-primary"><b>@peefartpoohead</b></p>
                        <p class="px-2 m-0">asdf</p>
                    </div>                    
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex flex-direction-row">
                    <img src="https://www.jamiemaison.com/creating-a-simple-text-editor/placeholder.png">
                    <div class="px-2">
                        <p class="text-primary"><b>@peefartpoohead</b></p>
                        <p class="px-2 m-0">asdf</p>
                    </div>                    
                </div>
            </div>
          </ul>

    </div>
    <div class="modal-footer">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Comment</button>
    </div>
  </ng-template>
  
  
  <button (click)="open(content)"><span class="iconify" data-icon="fa-regular:comment-alt" data-inline="false"></span></button>