<ng-template #content let-modal>
  <div class="modal-body">
    <emoji-mart title="Pick your emoji…" emoji="point_up" [style]="{ width: '100%'}"
      (emojiSelect)="selectReaction($event)" [autoFocus]="true"
      [color]="'#6f78d6'" [darkMode]="false" [showPreview]="false" size="16" [isNative]="true" (backgroundImageFn)="getBackgroundImage()" [showSingleCategory]="true" [useButton]="true">
    </emoji-mart>
  </div>
  <div class="modal-footer d-flex flex-row">
    <button type="button" class="btn btn-secondary flex-fill" aria-label="Close"
      (click)="selectedReaction = null; modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-primary flex-fill" (click)="react(modal)" [disabled]="!selectedReaction">React
      {{ selectedReaction?.native }}</button>
  </div>
</ng-template>

<button class="reaction" (click)="open(content)">
  <ng-container *ngIf="submittedReaction && submittedReaction.emoji; else noreaction">
    {{ submittedReaction?.emoji.native }}
  </ng-container>
  <ng-template #noreaction>
    <div>
      <span class="iconify" data-icon="ic:outline-add-reaction" data-inline="true"></span>
    </div>
  </ng-template>
</button>
