::ng-deep .reactions {

  .modal-content {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;

    .modal-body {
      padding: 0px;

      .reactions {
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          object-fit: cover;
          padding: 0.05em;
        }

        .emoji {
          font-size: 30px;
          display: inline-block;
          width: auto;
          height: auto;
          word-break: keep-all;
        }
      }

      .emoji-mart {
        border: none;

        .emoji-mart-anchor {
          &:hover {
            cursor: pointer;
          }
        }

        .emoji-mart-emoji {
          span:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.reaction {
  background-color: transparent;
  border: 0px;
  font-size: 34px;
  margin: 20px 0px;
  padding: 0px;

  .iconify {
    width: 30px;
    height: 30px;
    color: white;
  }
}
