.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  padding: 20px;

  a.footer-bar-button {
    color: white;
    cursor: pointer;

    &.darker-text {
      color: #6c757d;
    }

    &.active {
      color: #6f78d6;
    }
  }

  .iconify {
    width: 25px;
    height: 25px;
    margin: 0px 30px;
  }
}
