<div class="footer-bar">
    <div class="m-auto d-flex justify-content-center">
      <ng-container *ngIf="authService.isLoggedIn | async">
        <a href="#" routerLinkActive="active" routerLink="/home"><span class="iconify" data-icon="akar-icons:home" data-inline="false"></span></a>
        <a href="#" routerLinkActive="active" routerLink="/profile"><span class="iconify" data-icon="akar-icons:person" data-inline="false"></span></a>
        <a href="#" routerLinkActive="active" (click)="authService.logout()"><span class="iconify" data-icon="akar-icons:link-out" data-inline="false"></span></a>
      </ng-container>
      <ng-container *ngIf="!(authService.isLoggedIn | async)">
        <a [routerLink]="['sign-up']">Sign Up</a>
        <a [routerLink]="['log-in']">Log In</a>
      </ng-container>
    </div>
</div>
