<div class="container vw-100 vh-100 d-flex align-items-center">
  <div class="row w-100 h-100 d-flex justify-content-center m-0">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <form class="card p-3 bg-light w-100" [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
        <h2 class="mb-3 text-center">Sign Up</h2>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            [ngClass]="(signUpForm.get('emailAddress').dirty || signUpForm.get('emailAddress').touched) ? (!signUpForm.get('emailAddress').errors  ? 'is-valid' : 'is-invalid') : ''"
            id="email"
            placeholder="Email address"
            formControlName="emailAddress">
            <!-- Errors -->
            <div *ngIf="signUpForm.get('emailAddress').dirty || signUpForm.get('emailAddress').touched" class="ml-2 text-danger d-flex flex-column mt-1">
              <small *ngIf="signUpForm.get('emailAddress').errors?.required">Email Address is required.</small>
              <small *ngIf="signUpForm.get('emailAddress').errors?.email">Must enter a valid email address.</small>
            </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="(signUpForm.get('password').dirty || signUpForm.get('password').touched) ? (!signUpForm.get('password').errors  ? 'is-valid' : 'is-invalid') : ''"
            id="password"
            placeholder="Password"
            formControlName="password">
          <!-- Errors -->
          <div *ngIf="signUpForm.get('password').dirty || signUpForm.get('password').touched" class="ml-2 text-danger d-flex flex-column mt-1">
            <small *ngIf="signUpForm.get('password').errors?.required">A password is required.</small>
            <small *ngIf="signUpForm.get('password').errors?.minlength">Password must be at least {{ signUpForm.get('password').errors?.minlength.requiredLength }} characters.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password-confirmation">Password Confirmation</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="(signUpForm.get('passwordConfirmation').dirty || signUpForm.get('passwordConfirmation').touched) ? (!signUpForm.get('passwordConfirmation').errors  ? 'is-valid' : 'is-invalid') : ''"
            id="password-confirmation"
            placeholder="Password Confirmation"
            formControlName="passwordConfirmation">
          <!-- Errors -->
          <div *ngIf="signUpForm.get('passwordConfirmation').dirty || signUpForm.get('passwordConfirmation').touched" class="ml-2 text-danger d-flex flex-column mt-1">
            <small *ngIf="signUpForm.get('passwordConfirmation').errors?.required">A password confirmation is required.</small>
            <small *ngIf="signUpForm.errors?.passwordsDoNotMatch">Passwords must match.</small>
            <small *ngIf="firebaseError">{{ firebaseError }}</small>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="!signUpForm.valid"
          class="btn btn-primary mb-2 w-100">Sign Up</button>
          <button
          type="button"
          class="btn btn-secondary w-100"
          routerLink="/log-in">Log In</button>
      </form>
    </div>
  </div>
</div>
