<div class="container vw-100 vh-100">
  <div class="row w-100 h-100 d-flex justify-content-center">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <form class="card p-3 bg-light w-100" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
        <h2 class="mb-3 text-center">Forgot Your Password</h2>
        <div class="form-group">
          <label for="forgotPasswordEmail">Email address</label>
          <input type="email" class="form-control" id="forgotPasswordEmail" placeholder="Email address" formControlName="emailAddress" required/>
        </div>
        <button type="submit" class="btn btn-primary mb-2" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
          <button
          type="button"
          class="btn btn-secondary w-100"
          routerLink="/log-in">Back to Log In</button>
      </form>
    </div>
  </div>
</div>
