.back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  font-size: 26px;
  color: white;
  background-color: transparent;
  border: none;
}

.camera-container {
  margin: 0;
  padding: 0;
  position: relative;
  height: var(--100vh);
  background-color: black;
  z-index: 1;

  ::ng-deep webcam {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;

    .webcam-wrapper {
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;

      video {
        height: 100%;
        width: 100vw;
        max-height: var(--100vh);
        object-fit: cover;
        background-color: black;
        padding: 0;
        margin: 0;
      }
    }
  }

  .trigger-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-color: transparent;
    border: none;
    transform: translateX(-50%);
    z-index: 2;

    .iconify {
      color: white;
      width: 60px;
      height: 60px;
    }

    &:active {
      bottom: 22.5px;

      .iconify {
        height: 55px;
      }

    }
  }


  .snapshot {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 20px;

    img {
      aspect-ratio: 9 / 16;
      object-fit: cover;
      overflow: hidden;
      width: 30vw;
      border-radius: 20px;
    }
  }
}

.preview-container {
  height: var(--100vh);
  max-height: var(--100vh);
  padding-top: 80px;
  margin: 0;

  .image-preview-container {
    max-width: 100vw;
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

    .image-preview {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 9 / 16;
      border-radius: 20px;
    }

  }

  .back {
    color: black;
  }

  form {
    flex: none;
  }
}
