<div class="container d-flex flex-column align-items-center pb-3">
  <div class="cover-photo position-relative w-100">
    <img class="w-100 h-100"
      [src]="userSettings?.coverPhotoURL || ''" />
      <app-change-profile-photo-popup [photoSelected]="'cover-photo'" (refreshUserSettings)="refreshUserSettings()"></app-change-profile-photo-popup>
  </div>

  <div class="profile-photo">
    <img class="img-thumbnail" width="200" height="200"
      [src]="userSettings?.photoURL || 'https://scontent.fmci1-3.fna.fbcdn.net/v/t1.0-9/56580500_952946725036947_7436980033324843008_o.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=1Q4T2Vo6igkAX_gnwe1&_nc_ht=scontent.fmci1-3.fna&oh=2db7965d440cd32492064407157194e6&oe=6042C391'" />
      <app-change-profile-photo-popup [photoSelected]="'profile-photo'" (refreshUserSettings)="refreshUserSettings()"></app-change-profile-photo-popup>
  </div>
  <div class="profile-info text-center">
    <h1 class="mt-1 mb-0">{{ userSettings?.displayName }}</h1>
    <p class="mt-0 mb-2"><small>@{{ userSettings?.username }}</small></p>
    <h6 class="text-muted font-weight-light mt-0">{{ userSettings?.bio }}</h6>
    <div class="row mt-2">
      <div class="col-4 px-2 text-center">
        <h2 class="font-weight-light mb-0">28</h2>
        <p class="font-weight-bold">posts</p>
      </div>
      <div class="col-4 px-2 text-center">
        <h2 class="font-weight-light mb-0">300</h2>
        <p class="font-weight-bold">followers</p>
      </div>
      <div class="col-4 px-2 text-center">
        <h2 class="font-weight-light mb-0">310</h2>
        <p class="font-weight-bold">following</p>
      </div>
    </div>
    <button class="btn btn-secondary w-100 mb-3" routerLink="edit">Edit Profile</button>
  </div>
  <ul class="nav nav-pills nav-fill profile-menu row mt-1">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ 'active': profileTabState === ProfileTabState.HIGHLIGHTS }"
        (click)="profileTabState = 0"
        aria-current="page">Highlights</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ 'active': profileTabState === ProfileTabState.GRID }"
        (click)="profileTabState = 1"
        aria-current="page">Grid</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ 'active': profileTabState === ProfileTabState.VERTICAL }"
        (click)="profileTabState = 2"
        aria-current="page">Vertical</a>
    </li>
  </ul>

  <hr class="border w-100">
  <div class="profile-highlights row flex-grow-1 w-100 pt-2" *ngIf="profileTabState === 0">
    <div class="col-2 px-1" *ngFor="let highlight of highlights">
      <img class="w-100" [src]="highlight"/>
    </div>
  </div>

  <div class="profile-grid d-flex" *ngIf="profileTabState === 1">
    <div class="col-2 px-1 flex-1" *ngFor="let post of gridPosts">
      <img class="w-100" [src]="post"/>
    </div>
  </div>
  <div class="profile-vertical" *ngIf="profileTabState === 2">
  </div>
</div>
