.container {
  margin-bottom: 70px;

  .cover-photo {
    height: 350px;

    img {
      border-radius: 20px;
      object-fit: cover;
    }

    app-change-profile-photo-popup {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
    }

    &:hover {
      app-change-profile-photo-popup {
        visibility: visible;
      }
    }
  }

  .profile-photo {
    transform: translateY(-100px);
    margin-bottom: -100px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }

    app-change-profile-photo-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
    }

    &:hover {
      app-change-profile-photo-popup {
        visibility: visible;
      }
    }
  }

  .profile-menu {

    a {
      cursor: pointer;
    }
  }
}
