<div class="container d-flex flex-column align-items-center pb-3">
  <div class="cover-photo position-relative w-100 mt-3">
    <img class="w-100 h-100 shimmer" [src]="userSettings?.coverPhotoURL || blankImage" />
    <app-change-profile-photo-popup *ngIf="userId === (currentUserId | async)" [photoSelected]="'cover-photo'" (refreshUserSettings)="refreshUserSettings()">
    </app-change-profile-photo-popup>
  </div>

  <div class="profile-photo">
    <img class="img-thumbnail shimmer" width="200" height="200" [src]="userSettings?.photoURL || blankImage" />
    <app-change-profile-photo-popup *ngIf="userId === (currentUserId | async)" [photoSelected]="'profile-photo'" (refreshUserSettings)="refreshUserSettings()">
    </app-change-profile-photo-popup>
  </div>
  <div class="profile-info text-center">
    <h1 class="mt-1 mb-0">{{ userSettings?.displayName }}</h1>
    <p class="mt-0 mb-2"><small>@{{ userSettings?.username }}</small></p>
    <h6 class="text-muted font-weight-light mt-0">{{ userSettings?.bio }}</h6>
    <div class="row mt-2">
      <div class="col-4 px-2 text-center">
        <h2 class="font-weight-light mb-0">{{ userSettings?.postsCount || 0}}</h2>
        <p class="font-weight-bold">posts</p>
      </div>
      
      <div class="col-4 px-2 text-center">
        <app-follow-popup [userId]="userId" [usersType]="'following'" [userCount]="userSettings?.followersCount || 0"></app-follow-popup>        
        <p class="font-weight-bold">followers</p>
      </div>
      <div class="col-4 px-2 text-center">
        <app-follow-popup [userId]="userId" [usersType]="'following'" [userCount]="userSettings?.followingCount || 0"></app-follow-popup>
        <p class="font-weight-bold">following</p>
      </div>
    </div>
    <button class="btn btn-secondary w-100 mb-3" *ngIf="userId === (currentUserId | async)" routerLink="/profile/edit">Edit Profile</button>
    <button class="btn btn-secondary w-100 mb-3" *ngIf="userId && (currentUserId | async) && userId !== (currentUserId | async) && !isFollowing" (click)="followUser(userId)">Follow</button>
    <button class="btn btn-secondary w-100 mb-3" *ngIf="userId && (currentUserId | async) && userId !== (currentUserId | async) && isFollowing" (click)="unfollowUser(userId)">Unfollow</button>
  </div>
  <ul class="nav nav-pills nav-fill profile-menu d-flex flex-row mt-1 w-100">
    <li class="flex-fill">
      <a class="nav-link text-center" [ngClass]="{ 'active': profileTabState === ProfileTabState.HIGHLIGHTS }"
        (click)="profileTabState = 0" aria-current="page">Highlights</a>
    </li>
    <li class="flex-fill">
      <a class="nav-link text-center" [ngClass]="{ 'active': profileTabState === ProfileTabState.GRID }"
        (click)="profileTabState = 1" aria-current="page">Grid</a>
    </li>
    <li class="flex-fill">
      <a class="nav-link text-center" [ngClass]="{ 'active': profileTabState === ProfileTabState.VERTICAL }"
        (click)="profileTabState = 2" aria-current="page">Vertical</a>
    </li>
  </ul>

  <hr class="border w-100">
  <div class="profile-highlights row flex-grow-1 w-100 pt-2" *ngIf="profileTabState === 0">
    <div class="col-2 px-1" *ngFor="let highlight of highlights">
      <img class="w-100 shimmer" [src]="highlight" />
    </div>
  </div>

  <div class="profile-grid d-flex" *ngIf="profileTabState === 1">
    <img class="w-100 shimmer" *ngFor="let post of gridPosts" [src]="post.photoUrls[0]" />
  </div>
  <div class="profile-vertical" *ngIf="profileTabState === 2">
  </div>
</div>
