.container {
  margin-bottom: 70px;

  .cover-photo {
    height: 350px;

    img {
      border-radius: 20px;
      object-fit: cover;
    }

    app-change-profile-photo-popup {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
    }

    &:hover {
      app-change-profile-photo-popup {
        visibility: visible;
      }
    }
  }

  .profile-photo {
    transform: translateY(-100px);
    margin-bottom: -100px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }

    app-change-profile-photo-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
    }

    &:hover {
      app-change-profile-photo-popup {
        visibility: visible;
      }
    }
  }

  .profile-menu {
    padding: 0px 20px;

    .nav-item {
      min-width: 200px;

      a {
        cursor: pointer;
      }
    }
  }

  .profile-highlights {
    img {
      border-radius: 15px;
      aspect-ratio: 9 / 16;
      object-fit: cover;
    }
  }

  .profile-grid{
    img {
      border-radius: 10px;
      aspect-ratio: 9 / 9;
      object-fit: cover;
    }
  }

}
