<div class="bg-black d-flex align-items-center justify-content-center">
  <img class="background h-100 w-100" [src]="post.photoUrls[0]"/>
  <img class="main-image h-100" [src]="post.photoUrls[0]"/>
  <div class="profile-section">
    <img class="img-thumbnail" width="200" height="200"
    src="https://scontent.fmci2-1.fna.fbcdn.net/v/t1.15752-9/148833833_212507847250261_4109499179030827817_n.jpg?_nc_cat=111&ccb=3&_nc_sid=ae9488&_nc_ohc=eFiCbvVxBO0AX-EYvDO&_nc_ht=scontent.fmci2-1.fna&oh=71f9c1ea8c93e952e2141efd40b1480f&oe=604CA7ED" />
    <h5 class="profile-name text-light">Aaron Ediger</h5>
  </div>
  <div class="actions">

  </div>
</div>
