<div class="bg-black d-flex align-items-center justify-content-center">
  <img class="background h-100 w-100" [src]="post.photoUrls[0]"/>
  <img class="main-image h-100" [src]="post.photoUrls[0]"/>
  <div class="profile-section">
    <img class="img-thumbnail shimmer" width="200" height="200"
    [src]="post.author?.photoURL || blankImage" />
    <h5 class="profile-name text-light"><a class="text-light" [routerLink]="['/profile', post.author?.userId]">{{ post.author?.displayName }}</a></h5>
  </div>
  <div class="actions d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-light">{{ post.distance | number:'.1-1' }}</h3>
    <app-reaction [post]="post"></app-reaction>
    <app-comment [post]="post"></app-comment>
    <p style="cursor: pointer;" [routerLink]="['/conversations', post.authorId]"><span class="iconify message" data-icon="uil:message" data-inline="false"></span></p>
  </div>
  <div class="post-info">
    <p><b><a class="text-light" [routerLink]="['/profile', post.author?.userId]">@{{ post.author?.username }}</a></b></p>
    <p>{{ post.caption }}</p>
  </div>
</div>
