<div class="bg-black d-flex align-items-center justify-content-center">
  <img class="background h-100 w-100" [src]="post.photoUrls[0]"/>
  <img class="main-image h-100" [src]="post.photoUrls[0]"/>
  <div class="profile-section">
    <img class="img-thumbnail shimmer" width="200" height="200"
    [src]="post.author?.photoURL || blankImage" />
    <h5 class="profile-name text-light">{{ post.author?.displayName }}</h5>
  </div>
  <div class="actions">
    <span class="iconify" data-icon="ic:outline-add-reaction" data-inline="false"></span>
    <app-comment [post]="post"></app-comment>
    <span class="iconify" data-icon="fa-solid:share" data-inline="false"></span>
  </div>
  <div class="post-info">
    <p><b>@{{ post.author?.username }}</b></p>
    <p>{{ post.caption }}</p>
  </div>
</div>
