<div class="container mt-3">
  <button class="btn btn-primary" *ngIf="(currentUserId | async)" [routerLink]="['/profile', (currentUserId | async)]"><fa-icon icon="arrow-left" class="mr-2"></fa-icon>Back to Profile</button>
  <form class="mt-3" [formGroup]="userForm" (ngSubmit)="saveUserChanges(userForm.value)">
    <!-- Disable form when user and user settings haven't loaded yet. -->
    <fieldset [disabled]="!user || saveUserButtonState === SaveButtonState.SAVING">
      <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input
          type="email"
          class="form-control"
          id="emailAddress"
          [ngClass]="(userForm.get('email').dirty || userForm.get('email').touched) ? (!userForm.get('email').errors  ? 'is-valid' : 'is-invalid') : ''"
          placeholder="Email Address"
          formControlName="email"
          >
        <!-- Errors -->
        <div *ngIf="userForm.get('email').dirty || userForm.get('email').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userForm.get('email').errors?.required">Email address is required.</small>
          <small *ngIf="userForm.get('email').errors?.email">Must enter a valid email address.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="new-password">New Password</label>
        <input
          class="form-control"
          id="new-password"
          type="password"
          [ngClass]="(userForm.get('newPassword').dirty || userForm.get('newPassword').touched) ? (!userForm.get('newPassword').errors  ? 'is-valid' : 'is-invalid') : ''"
          placeholder="New Password"
          formControlName="newPassword"/>
        <!-- Errors -->
        <div *ngIf="userForm.get('newPassword').dirty || userForm.get('newPassword').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userForm.get('newPassword').errors?.minlength">Password must be at least {{ userForm.get('newPassword').errors?.minlength.requiredLength }} characters.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="new-password-confirmation">Password Confirmation</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="(userForm.get('newPasswordConfirmation').dirty || userForm.get('newPasswordConfirmation').touched) ? (!userForm.get('newPasswordConfirmation').errors  ? 'is-valid' : 'is-invalid') : ''"
          id="new-password-confirmation"
          placeholder="New Password Confirmation"
          formControlName="newPasswordConfirmation">
        <!-- Errors -->
        <div *ngIf="userForm.get('newPasswordConfirmation').dirty || userForm.get('newPasswordConfirmation').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userForm.errors?.passwordsDoNotMatch">Passwords must match.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          id="password"
          type="password"
          [ngClass]="(userForm.get('password').dirty || userForm.get('password').touched) ? (!userForm.get('password').errors  ? 'is-valid' : 'is-invalid') : ''"
          placeholder="Password"
          formControlName="password"/>
        <!-- Errors -->
        <div *ngIf="userForm.get('password').dirty || userForm.get('password').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userForm.get('password').errors?.required">Your current password is required to save your changes.</small>
        </div>
      </div>
      <div *ngIf="saveUserFirebaseError" class="ml-2 text-danger d-flex flex-column mb-3">
        <small>{{ saveUserFirebaseError }}</small>
      </div>
      <button
        type="submit"
        class="btn btn-primary d-flex flex-row align-items-center"
        [ngClass]="{'btn-success' : saveUserButtonState === SaveButtonState.SAVED_SUCCESSFULLY, 'btn-danger' : saveUserButtonState === SaveButtonState.NOT_SAVED_SUCCESSFULLY }"
        [disabled]="!userForm.valid || saveUserButtonState !== SaveButtonState.UNSAVED">
        <ng-container *ngIf="saveUserButtonState === SaveButtonState.SAVING">
          <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
          Saving Changes
        </ng-container>
        <ng-container *ngIf="saveUserButtonState === SaveButtonState.SAVED_SUCCESSFULLY">
          <fa-icon icon="check" class="mr-2"></fa-icon>
          Changes Saved
        </ng-container>
        <ng-container *ngIf="saveUserButtonState === SaveButtonState.NOT_SAVED_SUCCESSFULLY">
          <fa-icon icon="times" class="mr-2"></fa-icon>
          Changes Not Saved
        </ng-container>
        <ng-container *ngIf="saveUserButtonState === SaveButtonState.UNSAVED">
          <fa-icon icon="save" class="mr-2"></fa-icon>
          Save User
        </ng-container>
      </button>
    </fieldset>
  </form>
  <form class="mt-3" [formGroup]="userSettingsForm" (ngSubmit)="saveUserSettingsChanges(userSettingsForm.value)">
    <!-- Disable form when user and user settings haven't loaded yet. -->
    <fieldset [disabled]="!userSettings || saveUserSettingsButtonState === SaveButtonState.SAVING">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [ngClass]="(userSettingsForm.get('username').dirty || userSettingsForm.get('username').touched) ? (!userSettingsForm.get('username').errors  ? 'is-valid' : 'is-invalid') : ''"
          placeholder="Username"
          formControlName="username">
        <!-- Errors -->
        <div *ngIf="userSettingsForm.get('username').dirty || userSettingsForm.get('username').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userSettingsForm.get('username').errors?.required">Username is required.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="display-name">Display Name</label>
        <input
          type="text"
          class="form-control"
          id="display-name"
          [ngClass]="(userSettingsForm.get('displayName').dirty || userSettingsForm.get('displayName').touched) ? (!userSettingsForm.get('displayName').errors  ? 'is-valid' : 'is-invalid') : ''"
          placeholder="Display Name"
          formControlName="displayName">
        <!-- Errors -->
        <div *ngIf="userSettingsForm.get('displayName').dirty || userSettingsForm.get('displayName').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userSettingsForm.get('displayName').errors?.required">Display name is required.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea
          class="form-control"
          id="bio"
          [ngClass]="(userSettingsForm.get('bio').dirty || userSettingsForm.get('bio').touched) ? (!userSettingsForm.get('bio').errors  ? 'is-valid' : 'is-invalid') : ''"
          placeholder="Bio"
          formControlName="bio">
        </textarea>
        <!-- Errors -->
        <div *ngIf="userSettingsForm.get('bio').dirty || userSettingsForm.get('bio').touched" class="ml-2 text-danger d-flex flex-column mt-1">
          <small *ngIf="userSettingsForm.get('bio').errors?.required">Bio is required.</small>
        </div>
      </div>
      <div *ngIf="saveUserSettingsFirebaseError" class="ml-2 text-danger d-flex flex-column mb-3">
        <small>{{ saveUserSettingsFirebaseError }}</small>
      </div>
      <button
        type="submit"
        class="btn btn-primary d-flex flex-row align-items-center"
        [ngClass]="{'btn-success' : saveUserSettingsButtonState === SaveButtonState.SAVED_SUCCESSFULLY, 'btn-danger' : saveUserSettingsButtonState === SaveButtonState.NOT_SAVED_SUCCESSFULLY }"
        [disabled]="!userSettingsForm.valid || saveUserSettingsButtonState !== SaveButtonState.UNSAVED">
        <ng-container *ngIf="saveUserSettingsButtonState === SaveButtonState.SAVING">
          <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
          Saving Changes
        </ng-container>
        <ng-container *ngIf="saveUserSettingsButtonState === SaveButtonState.SAVED_SUCCESSFULLY">
          <fa-icon icon="check" class="mr-2"></fa-icon>
          Changes Saved
        </ng-container>
        <ng-container *ngIf="saveUserSettingsButtonState === SaveButtonState.NOT_SAVED_SUCCESSFULLY">
          <fa-icon icon="times" class="mr-2"></fa-icon>
          Changes Not Saved
        </ng-container>
        <ng-container *ngIf="saveUserSettingsButtonState === SaveButtonState.UNSAVED">
          <fa-icon icon="save" class="mr-2"></fa-icon>
          Save User Settings
        </ng-container>
      </button>
    </fieldset>
  </form>
</div>
