<div class="scroll-snap-container">
  <ng-container *ngIf="(posts$ | async) as posts">
    <app-post class="scroll-snap-child" [post]="post" *ngFor="let post of posts"></app-post>
    <div class="bg-black d-flex align-items-center justify-content-center h-100 w-100" *ngIf="posts && posts.length < 1">
      <h5 class="text-light">No posts to see here :(</h5>
    </div>
  </ng-container>
  <div class="bg-black d-flex flex-column align-items-center justify-content-center w-100 p-4 text-white text-center" *ngIf="error">
    <p>{{ error }}</p>
    <button class="btn btn-primary mt-2" (click)="window.location.reload()">Retry</button>
  </div>
  <div class="bg-black d-flex align-items-center justify-content-center w-100" *ngIf="!(posts$ | async) && !error">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>


