.scroll-snap-container {
  overflow-y: scroll;
  height: var(--100vh);
  width: 100vw;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(var(--100vh));
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;

  .bg-black {
    height: var(--100vh);
    position: absolute;
    top: 0;
  }

  .scroll-snap-child {
    height: var(--100vh);
    scroll-snap-align: start;
    position: relative;
    scroll-snap-stop: always;
  }
}

